<main>
    <header>
        <h1>emhk <span>tasks</span></h1>
        <div class="userBox">
            <span class="usernameBox">Usuario</span>
            <span class="logout-btn">Logout</span>
        </div>
    </header>
    <section class="hub-tasks">
        <ul class="list" id="list">               
            
        </ul>           
    </section>       

        <section class="inputTaskSection">
            <input name="task" type="text" placeholder="Digite uma tarefa" id="inputTask" maxlength="50">
            <button id="sendButton" class="enviarBT">Enviar</button>
        </section>

    <span id="made-by"> made by <span>manel códigos</span></span>
</main>