<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>emhk tasks</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script>
        const tk = localStorage.getItem("tk_auth")
        if(!tk){
            window.location.assign("/login");
        }
    </script>
</head>
<body>
        <%- include('./partials/appList') %> 
    <script src="/js/main.js"></script>
</body>
</html>