<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>emhk tasks</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <header>
            <h1>emhk <span>tasks</span></h1>
        </header>
        <section class="hub-tasks">
            <ul class="list" id="list">               
                
            </ul>           
        </section>       

            <section class="inputTaskSection">
                <input name="task" type="text" placeholder="Digite uma tarefa" id="inputTask">
                <button id="sendButton" class="enviarBT">Enviar</button>
            </section>

        <span id="made-by"> made by <span>manel códigos</span></span>
    </main>

    <script src="/js/main.js"></script>
</body>
</html>